.price {
    .container {
        .price__content {
            .price__item {
                padding: $pd-3 - 10;
                text-align: center;
                border: 1px solid $color-white-2;
                background: $color-white-0;
                h1 {
                    @include styleText($fs-0 + 1, $color-black-2, $fw-0);
                    margin-bottom: $mg-1;
                    text-transform: uppercase;
                    letter-spacing: $letter-spacing-1;
                    line-height: $line-height-0;
                }
                .p-value {
                    margin-bottom: $mg-1 + 10;
                    padding: $pd-2 + 5 0;
                    border-top: 1px solid $color-white-7;
                    border-bottom: 1px solid $color-white-7;
                    .price__dolar {
                        font-size: $fs-6;
                        span {
                            margin-left: -10px;
                            font-size: $fs-0 + 1;
                        }
                    }
                    .price__time {
                        font-size: $fs-1 - 1;
                    }
                }
                .price__desc {
                    margin-bottom: $mg-4 - 10;
                    p {
                        margin-bottom: $fs-0;
                        color: $color-black-3;
                    }
                }
                &.price__bgBlack {
                    border: 1px solid $color-black-3;
                    background: $color-black-3;
                    color: $color-white-0;
                    h1 {
                        color: $color-yello-0;
                    }
                    .p-value {
                        border-top: 1px solid $color-gray-7;
                        border-bottom: 1px solid $color-gray-7;
                    }
                }
                .price__desc {
                    p {
                        color: $color-gray-11;
                    }
                }
                .price__button {
                    .button--white {
                        border: 1px solid $color-white-2;
                        padding: $pd-0 + 3 $pd-1 + 15;
                        border-radius: 0;
                        &.button--middle {
                            background-color: $color-white-0;
                            &:hover {
                                background-color: $color-yello-0;
                                border: 1px solid $color-yello-0
                            }
                        }
                    }
                }
            }
        }
    }
}